<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Redirigir al indice1" enabled="true">
          <match url="myindice" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name="Redirigir al indice2" enabled="true">
          <match url="myinicio" />
          <action type="Redirect" url="http://localhost:51554/index.html" />
        </rule>
        <rule name="Redirigir al error" enabled="true">
          <match url="fallo" />
          <action type="Redirect" url="./errorpage.html" />
        </rule>
        <rule name="Pagina no encontrada" patternSyntax="Wildcard">
          <match url="*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="errorpage.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>